{
  "ignorePatterns": [
    "package-lock.json",
    "!node_modules/",
    "node_modules/*"
  ],
  "root": true,
  "extends": [
    "@shelf/eslint-config/typescript"
  ],
  "rules": {
    "multiline-ternary": "off",
    "jest/no-deprecated-functions": "off"
  }
}
